# Fichiers secrets et de configuration locale
.env
check_balance.js
createAdmin.js
uploads/background/*
uploads/videos/*
uploads/thumbnails/*
uploads/landing/*
uploads/mobiletutorial/*
uploads/profile/*
firebase_env_config.txt
fix_ending.txt
scripts/deploy_prod.py